<header>
    <h1>Mail Merge</h1>
</header>
<main>
    <form action="/" method="post" class="flex-column">
        <div class="flex justify-between">
            <section class="flex-column justify-between">
                <div>
                    <p>
                        Enter names / emails (one per line)
                    </p>
                </div>
                <div class="sameHeight flex">
                    <textarea name="namesAndEmails" cols="40" autofocus placeholder="Joe, Jones, joe@example.com">{{persist.namesAndEmails}}</textarea>
                </div>
            </section>
            <section class="flex-column justify-between">
                <div>
                    <p>
                        Enter the text. The following substitutions are valid:
                    </p>
                    <ul>
                        <li>{first}</li>
                        <li>{last}</li>
                        <li>{email}</li>
                    </ul>
                </div>
                <div class="sameHeight flex-column">
                    <input value="{{persist.subject}}" type="text" name="subject" placeholder="Subject">
                    <textarea class="flex-1" name="emailContent" cols="40" placeholder="Body">{{persist.emailContent}}</textarea>
                </div>
            </section>
        </div>
        <button type="submit" name="button">Preview</button>
    </form>
    {{#if namesAndEmailsObjArray}}
        <h1 class="header">Emails(<span class="numOfEmails">{{numOfEmails}}</span>)</h1>
        <div class="flex-column">
            {{#each namesAndEmailsObjArray}}
                <div class="emails">
                    <i class="fa fa-times-circle-o fa-2x close" aria-hidden="true"></i>
                    <p>To: {{this.first}} {{this.last}}
                        <{{this.email}}>
                    </p>
                    <p>
                        Subject: {{subject}}
                    </p>
                    <br>
                    <textarea name="name" rows="8" cols="40">
                        {{emailContent}}
                    </textarea>
                </div>
            {{/each}}
        </div>
    {{/if}}
</main>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="../javascripts/closeEmail.js"></script>
